<%- include("./profile_sidebar.ejs") %>



    <!-- right side -->
    <main style="background-color: rgb(243 244 246);" class="flex-1 p-6 mr-4 mt-4 mb-4 overflow-y-auto">

        <div class="bg-white p-4 rounded-md shadow-md max-w-4xl mx-auto h-auto">
            <div class="flex items-center justify-between mb-4">
                <h1 class="text-2xl font-bold">Bookings</h1>
            </div>
            <% if(locals.db.lenght !==0 ) { %>
            <div class="grid grid-cols-1 gap-4 overflow-y-auto">
                <% locals.db.forEach(element => { %>
                <a class="bg-gray-100 p-4 rounded-md" href="#">
                    <div class="flex items-center justify-between">
                        <p class="font-medium text-xl" id="category"><%= element.category %></p>
                    </div>
                    <p class="text-gray-500"><strong>Service Provider Name:</strong> <%= element.providerName %></p>
                    <p class="text-gray-500"><strong>Date:</strong> <%= element.day %>/<%= element.month %>/<%= element.year %></p>
                    <p class="text-gray-500"><strong>Time:</strong> <%= element.time %></p>
                    <p class="text-gray-500"><strong>Address:</strong> <%= element.address %></p>
                    <p class="text-gray-500"><strong>Price</strong>: ₹ <%= element.totalprize %></p>
                    <p class="text-gray-500"><strong>Status</strong>: <%= element.status %></p>
                </a>
                <% }) %>
            </div>
            <% }else{ %>
                <div class="grid grid-cols-1 gap-4 overflow-y-auto">
                    <h1>No Booking available currently</h1>
                </div>
                <% } %>
        </div>
    </main>

    
<%- include("./profile_footer.ejs") %>