<%- include("./profile_sidebar.ejs") %>
    <!-- right side -->
    <main style="background-color: rgb(243 244 246);" class="flex-1 bg-[#6e7f80] p-6 mr-4 mt-4 mb-4 overflow-y-auto">

        <div class="bg-white p-4 rounded-md shadow-md max-w-4xl w-full mx-auto h-auto">

            <div class="flex items-center justify-between mb-4">
                <h1 class="text-2xl font-bold">Personal Information</h1>
            </div>

            <form action="user/profile/submit" method="post" id="profile_form">

                <div class="grid grid-cols-1 gap-2 overflow-y-auto">
                    
                    <div class="bg-gray-100 p-3 rounded-md">
                        <div class="flex items-center justify-between">
                            <p class="font-medium">UserName</p>
                        </div>
                        <p class="text-gray-500"><%= locals.db.username %></p>
                    </div>
                    
                    <div class="bg-gray-100 p-3 rounded-md">
                        <div class="flex items-center justify-between">
                            <p class="font-medium">Name</p>
                        </div>
                        <p class="text-gray-500"><%= (!locals.db.fullname)? "Enter Your Name" : (locals.db.fullname) %></p>
                        <input name="fullname" type="text" class="hidden p-2 border border-gray-300 rounded-md w-full"
                        value="<%= locals.db.fullname %>">
                    </div>
                    
                    <div class="bg-gray-100 p-3 rounded-md">
                        <div class="flex items-center justify-between">
                            <p class="font-medium">Email</p>
                        </div>
                        <p class="text-gray-500"><%= locals.db.email %></p>
                        <input name="email" type="email" class="hidden p-2 border border-gray-300 rounded-md w-full"
                        value="<%= locals.db.email %>">
                    </div>
                    
                    <div class="bg-gray-100 p-3 rounded-md">
                        <div class="flex items-center justify-between">
                            <p class="font-medium">Phone Number</p>
                        </div>
                        <p class="text-gray-500"><%=  (!locals.db.phoneno)? "Enter Your PhoneNo." : (locals.db.phoneno)  %></p>
                        <input name="phoneno" type="tel" class="hidden p-2 border border-gray-300 rounded-md w-full"
                        value="<%= locals.db.phoneno %>">
                    </div>
                    
                    <div class="bg-gray-100 p-3 rounded-md">
                        <div class="flex items-center justify-between">
                            <p class="font-medium">Password</p>
                        </div>
                        <p class="text-gray-500">*********</p>
                        <input name="password" type="text" class="hidden p-2 border border-gray-300 rounded-md w-full"
                        value="*********">
                        <p class="hidden text-gray-500 dark:text-gray-400">
                            Add password only if want to change
                        </p>
                    </div>
                </div>
            </form>

            <div class="flex justify-end mt-4 space-x-4">
                <button id="editButton"
                    class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-[#3d5a80] text-white hover:bg-[#2b4860] h-9 rounded-md px-4">
                    <i class="fas fa-edit mr-2"></i>
                    Edit
                </button>
                <button id="submitButton"
                    type="submit"
                    onclick="document.querySelector('#profile_form').submit()"
                    class="hidden inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-[#3d5a80] text-white hover:bg-[#2b4860] h-9 rounded-md px-4">
                    <i class="fas fa-check mr-2"></i>
                    Submit
                </button>
            </div>
        </div>
    </main>


    <script>
        document.getElementById('editButton').addEventListener('click', function () {
            const paragraphs = document.querySelectorAll('.grid p.text-gray-500');
            const inputs = document.querySelectorAll('.grid input, .grid select');

            paragraphs.forEach(p => p.classList.toggle('hidden'));
            inputs.forEach(input => input.classList.toggle('hidden'));

            document.getElementById('editButton').classList.add('hidden');
            document.getElementById('submitButton').classList.remove('hidden');
        });

        document.getElementById('submitButton').addEventListener('click', function () {
            const paragraphs = document.querySelectorAll('.grid p.text-gray-500');
            const inputs = document.querySelectorAll('.grid input, .grid select');

            paragraphs.forEach(p => p.classList.toggle('hidden'));
            inputs.forEach(input => input.classList.toggle('hidden'));

            document.getElementById('submitButton').classList.add('hidden');
            document.getElementById('editButton').classList.remove('hidden');
        });
    </script>

<%- include("./profile_footer.ejs") %>